@import "../../app.less";

.content{
    margin-top: 60px;
    font-size: 36px;
    color:@text-color;
    padding: 0 30rpx;
    display: flex;
    display: -webkit-flex;
}

.content-cell{
   width: 690rpx;
   text-align: center;
}

.content-cell image{
    width: 100%;
}
